.google-cookie
__pycache__/checkPlagiat.cpython-310.pyc
__pycache__/readFile.cpython-310.pyc
__pycache__/readWebsite.cpython-310.pyc
__pycache__/readFile.cpython-39.pyc
__pycache__/readWebsite.cpython-39.pyc
__pycache__/checkPlagiat.cpython-39.pyc
__pycache__/main.cpython-310.pyc
